<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active text-white">Shopping</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Shopping page Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">

        <div class="col-lg-12">
            <div class="row g-4 justify-content-center">
                {{#each products}}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                            <img src="/product-images/{{this._id}}.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                            style="top: 10px; left: 10px;">{{this.Category}}</div>
                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                            <h4>{{this.Name}}</h4>
                            <p>{{this.Type}}</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0"><del>{{this.originalPrice}}</del>  <span class="text-danger"><b>{{this.Price}}</b></p>
                                <button onclick="addToCart('{{this._id}}')" class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                        class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Shopping page End-->